.header-container div {
    display: flex;
    justify-content: space-evenly;
}

body h1 {
    text-decoration: underline;
    text-decoration-color: blueviolet;
}

body h4 {
    text-align: justify;
}